.topnav {
  position: absolute;
  left: 300px;
  width: calc(100% - 300px);
  height: 100px;
  display: flex;
  background-color: var(--second-bg-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 30px;
}
.topnav .topnav-left {
  position: relative;
}
.topnav .topnav-left input {
  padding: 14px;
  border: none;
  border-radius: 10px;

  width: 300px;
  outline: none;
  box-shadow: var(--box-shadow);
  background-color: var(--main-bg-dark);
  color: white;
}
.topnav .topnav-left input:focus {
  outline: 2px solid var(--second-color-red);
}
.topnav .topnav-left input::placeholder {
  font-size: 16px;
}
.topnav-left img {
  position: absolute;
  right: 10px;
  top: 13px;
  width: 20px;
}
.topnav .topnav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topnav .topnav-right .profile-icon {
  display: flex;
  align-items: center;
  padding-right: 20px;
  cursor: pointer;
  color: #dddddd;
  font-weight: bold;
  position: relative;
}
.topnav .topnav-right .profile-icon span {
  font-size: 20px;
}
.topnav .topnav-right .profile-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.topnav .topnav-right .notfication-icon {
  display: flex;
  position: relative;
  cursor: pointer;
}
.topnav .topnav-right .notfication-icon img {
  width: 40px;
}

.topnav .topnav-right .notfication-icon .count {
  position: absolute;
  right: -4px;
  background-color: var(--main-color-blue);
  border-radius: 50%;
  top: -15px;
  padding: 2px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.topnav .topnav-right .theme-icon {
  width: 40px;
  margin-left: 15px;
}
.topnav .topnav-right .theme-icon img {
  cursor: pointer;
}

/* responsive  */
@media (max-width: 991px) {
  .topnav {
    left: 223px;
    width: calc(100% - 223px);
  }

  .topnav .topnav-left input {
    width: 210px;
  }
}
@media (max-width: 776px) {
  .topnav {
    left: 86px;
    width: calc(100% - 86px);
    padding: 50px 10px;
    height: 65px;
  }

  .topnav .topnav-left input {
    width: 170px;
    padding: 10px;
  }

  .topnav-left img {
    width: 16px;
  }

  .topnav .topnav-right .profile-icon img {
    width: 25px;
    height: 25px;
  }

  .topnav .topnav-right .notfication-icon img {
    width: 30px;
  }
  .topnav .topnav-right .profile-icon span {
    font-size: 15px;
  }

  .topnav .topnav-right .theme-icon {
    width: 25px;
    margin-left: 10px;
  }
  .topnav .topnav-right .notfication-icon .count {
    width: 20px;
    height: 20px;
    font-size: 10px;
    right: -4px;
    top: -12px;
  }
}

@media (max-width: 500px) {
  .topnav {
    justify-content: center;
  }
  .topnav .topnav-left {
    display: none;
  }
}
