.profile {
  width: 160px;
  background-color: var(--main-bg-dark);
  box-shadow: var(--box-shadow);
  z-index: 40;
  color: white;
  top: 42px;
  position: absolute;
  left: -142px;
  border-radius: 10px;
  overflow: hidden;
}
.profile > div {
  display: flex;
  align-items: center;
  padding: 15px 20px;
}
.profile div:hover {
  background-color: var(--second-color-blue);
}

.profile > div div {
  margin-left: 10px;
}

.profile div img {
  width: 25px !important;
}
/* Responisve */
@media (max-width: 776px) {
  .profile {
    width: 120px;
    left: -60px;
    top: 31px;
  }

  .profile > div {
    padding: 11px;
  }
  .profile > div div {
    font-size: 14px;
    margin-left: 3px;
  }

  .profile div img {
    width: 15px !important;
  }
}
