.notification {
  width: 321px;
  background-color: var(--main-bg-dark);
  box-shadow: var(--box-shadow);
  z-index: 40;
  color: white;
  top: 43px;
  position: absolute;
  left: -302px;
  border-radius: 10px;
  overflow: hidden;
}
.notification div {
  display: flex;
  align-items: center;
  padding: 15px;
}
.notification div:hover {
  background-color: var(--second-color-blue);
}
.notification div:hover p {
  color: white;
}

.notification p {
  color: var(--txt-color-dark);
  margin: 0;
  margin-left: 20px;
}
.notification div img {
  width: 30px !important;
}
/* Responsive  */
@media (max-width: 768px) {
  .notification {
    width: 244px;
    top: 40px;
    left: -181px;
  }
  .notification div {
    padding: 12px;
  }

  .notification p {
    margin-left: 15px;
    font-size: 13px;
  }
  .notification div img {
    width: 20px !important;
  }
}
